<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activerecord"
             type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
    <connectionStrings>
        <add name="Wawel"
             connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=F:\mEElearn\Castle_Demo_ComputerBenchmark\sql\Wawel.mdf;Integrated Security=True;User Instance=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
  <activerecord pluralizeTableNames="true">
    <config database="MsSqlServer2005"
            connectionStringName="Wawel">
      <!--<add key="hbm2ddl.keywords" value="auto-quote" />-->
    </config>
  </activerecord>
</configuration>